.book-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
    margin: 3rem auto;
}

.big-cover {
    flex-basis: 250px;
}

.main-info {
    flex: 2;
    border-left: 1px solid #e7e7e7;
    padding-left: 2.5rem;
}

.main-info .title {
    margin: 0;
    font-size: 3rem;
    font-family: 'Marck Script', cursive;
}

.description {
    width: 100%;
    margin-top: 2rem;
}

